.wrapper {
    display: flex;
    justify-content: space-evenly;
    > fa-icon {
        font-size: 2rem;
        color: var(--huama-white);
    }
}

.wrapper {
    display: flex;
    justify-content: space-evenly;
    align-content: stretch;
    > div {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        &.imprint {
            justify-content: right;
            align-self: baseline;

        }
    }

}

fa-icon {
    font-size: 2rem;
    color: var(--huama-white);
}

.footer {
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 10;

    &.footerFixed {
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    &.fake {
        opacity: 0;
    }
}

.imprint {
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    float: right;
}