.nopadding {
    padding-left: 0;
    padding-right: 0;
}

.text-col {
    padding-left: 32px;
    padding-right: 32px;
}

.products {
    > * {
        margin-top: 64px;
        margin-bottom: 64px;
    }
}

.product-image {
    display: block;
}

.titl {
    display: flex;
    justify-content: center;
    transform: rotate(-8deg) translateY(2rem);

    z-index: -20;


    > * > h1 {
        margin: 0;
        margin-left: clamp(1rem, -0.875rem + 13.333vw, 4rem);
        margin-right: clamp(1rem, -0.875rem + 13.333vw, 4rem);
        font-size: clamp(5.6rem, -0.875rem + 13.333vw, 14rem);
    }
}

.nopic {
    padding: 0;
    
        &:not(.mobile):first-child {
            > * {
                margin-right: 1rem;

            }
        }
        &:not(.mobile):last-child {
            > * {
                margin-left: 1rem;
            }
        }

        &.mobile:first-child {
            > * {
            margin-bottom: 64px;
            }
        }
    
}

swiper{
    width: 100%;
    margin: auto;
    overflow: hidden;

}

.swiper-slide{
    img{
        width: 100%;
    }
}

.swiper-wrapper {
    z-index: 0 !important;
}