.title {
    font-family: 'selimaregular';
}
:host {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.navbar {
    position: fixed;
    z-index: 10;
    @extend .transition

}

.brand-logo {
    @extend .transition;
}

.transition {
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.navbar-transparent {
    opacity: 0;
    box-shadow: none;

}   

.wrapper {
    display: flex;
    justify-content: space-evenly;
    align-content: stretch;
    width: 80%;
    margin: auto;
    > div {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        &.imprint {
            justify-content: right;
            align-self: baseline;

        }
    }

}


fa-icon {
    font-size: 2rem;
    color: var(--huama-green);
}
