.master {
    background-image: url("/assets/holz.webp");
    background-repeat: repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

.navbar {
    position: fixed !important;
    width: 100%;
    z-index: -10;
}

.footer {
    bottom: 0;
}

.toast-wrapper {
    position: fixed;
    z-index: 500;
    top: calc(100vh - 56px - 64px - 1rem);
    display: flex;
    width: 100%;
    justify-content: center;

    &.mobile {
        top: calc(100vh - 92px - 64px - 1rem);
    }

    .toast {
        top: 0;
        margin: 0;
    }
}
