.koatn {
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}