/* You can add global styles to this file, and also import other style files */
@use './materialize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
    


$abrundvar: 0.25rem;

:root {
    --huama-white: #F6F6F1;
    --huama-gray: #464646;
    --huama-green: #4D6D5D;
    --swiper-theme-color: var(--huama-white);

}

    html, body {
        font-family: 'Roboto Condensed', sans-serif;
        height: 100vh;
        width: 100%;
        
    }

    .ex {
        /*this is en exception*/

    }

    .seamless {
        box-shadow: none !important;
    }

    .inhoit  {
        @extend .container;
        
        
        > :not(.ex) {
            @extend .row;
            @extend .koatn;

            > :not(.ex) {
                @extend .col;
            }
        }

    }

    .koatn {
        @extend .abrundn;

        &:not(.transparent) {
            &.dark {
                background-color: var(--huama-gray);
                color: var(--huama-white);
            }

            &:not(.dark) {
                background-color: var(--huama-white);
                color: var(--huama-gray);
            }
        }

        &:not(.seamless) {
            @extend .schottn;
        }
    }

    .title-text-color {
        color: var(--huama-green);
    }

    h1, h2, h3, h4, h5, h6 {
        @extend .title-text-color;
    }

    .abrundn {
        @extend .abrundn-links;
        @extend .abrundn-rechts;
    }

    .abrundn-links {
        border-top-left-radius: $abrundvar;
        border-bottom-left-radius: $abrundvar;
    }

    .abrundn-rechts {
        border-top-right-radius: $abrundvar;
        border-bottom-right-radius: $abrundvar;
    }
    
    .schottn {
        @extend .z-depth-3;
    }

    .card {
        @extend .schottn;
        @extend .abrundn;
    }

    .huamerisch {
        font-family: 'selimaregular';
    }

    .background-green {
        background-color: var(--huama-green) !important;
    }

    .text-white {
        color: var(--huama-white) !important;
    }

    
#toast-container {
    bottom: 5%;
    top: unset;
    right: unset;
    @extend .center;
    @extend .valign-wrapper;
    left: 10%;
    right: 10%;
    width: 80%;
    
}