.buttonMobile {
    margin-bottom: 2rem;
}

.logo-container {
    justify-content: center;
    min-height: calc(100vh - 56px);
    &.mobile {
        min-height: calc(100vh - 56px);
    }
}

.nopadding {
    padding-left: 0;
    padding-right: 0;
}

.image {
    display: block;
}

huama-logo {
    margin-top: -10%;
}